* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    color: #003747;
    background-color: white;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

#main {
    margin: -60px 30px 0px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: whitesmoke;
    height: 100%;
    z-index: 3;
}


#header {
    height: 90vh;
    background-color: black;
    display: flex;
}

h1 {
    color: #06768d;
    text-align: center;
    padding-top: 2%;
}

/* -------- Reuseable ------- */

.fixed {
 display: flex;
 background-color: transparent;
 position: fixed;
  }

.centerImg {
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: auto;
 width: 50%;
  } 

.centerText {
  text-align: center;
}  

  .flexBox {
    display: flex;
    justify-content: flex-end;
    background: transparent;
}

.contactUs {
  background-color: #003747;
  color: whitesmoke;
  padding-top: 2%;
  margin-left: 0;
  margin-right: 0;
}


/* -- Header -- */

.mainLogo {
  height: 450px;
  width: auto;
  align-items: center;
  margin-left: 8%;
  margin-top: 150px;
}

.eyes {
  height: 200px;
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  margin-bottom: 300px;
  margin-right: 100px;
}

.slogan {
  font-family: 'Orbitron', 'Arial', 'sans-serif';
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  margin-bottom: 330px;
  margin-left: 9.5%;
  text-align: center;
}

.claw {
  height: 250px;
  width: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 55px;
  z-index: 1;
}

  /* ------ Pop Up Box ------ */

  #popup-overlay {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.973);
    overflow-y: hidden;
    transition: opacity 500ms;
    z-index: 6;
  }
  
  #popup-overlay-services {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.973);
    overflow-y: scroll;
    transition: opacity 500ms;
    z-index: 6;
  }

  #popup-link-box {
      cursor: pointer;
  }
  
  
  
  #popup-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: -30px;
    transition: all 200ms;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
      color: #06768d;
      cursor: pointer;
  }

  #popup-close-services {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: -30px;
    transition: all 200ms;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
      color: #06768d;
      cursor: pointer;
  }
  
  #popup-close:hover {
    color: #800000;
  }

  #popup-close-services:hover {
    color: #800000;
  }


  .popUpLogo {
    max-height: 55vh;
    width: auto;
    max-width: 80%;
    margin-top: 5vh;
    padding-bottom: 3vh;
   }

   .popUpText {
     color: #003747;
     margin: 0 5% 0 5%;
     padding: 2% 0 2% 0;
   }
.popUpBorderBox {
   margin: 60px 30px 0px;
   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   background-color: whitesmoke;
   height: 100%;
   z-index: 7;
}

.popUpTitle {
  text-align: center;
  color: whitesmoke;
}

.popUpTopTitle {
  padding-top: 3%;
}

.popUpBold {
  font-size: 40px;
  font-weight: 600;
  margin: 2% 0 2% 0;
}

.popUpLargerText {
  font-size: 23px;
}
.websitePic {
  height: 40vh;
  max-width: 40%;
  display: block;
  margin: 0 auto 0 auto;
  padding: 2% 0 2% 0
}

.contactFlex {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 5%;
  padding-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.contactColumn {
  display: flex;
  flex-direction: column;
  align-self: center;
  cursor: pointer;
}

.emailLogo {
  max-height: 1000px;
  max-width: 20%;
  width: auto;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 3%;
}

.phoneLogo {
  max-height: 400px;
  max-width: 20%;
  width: auto;
  cursor: pointer;
  margin-bottom: 2%;
  margin-top: 3%;
}

/* -------- Nav ------- */

.leftNav {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    padding-right: 100%;
  }

  .leftLogos {
    position: relative;
    height: 6vh;
    width: auto;
    margin-left: 1%;
  }

  .navLogos {
    display: flex;
    background-color: transparent;
    height: 3.5vh;
    max-height: 3.5vw;
    width: auto;
    margin-right: 2vh;
    margin-top: 2vh;
    border-radius: 10px;
    transition: box-shadow 0.2s, background-color 0.2s;
    cursor: pointer;
}

.navLogos:hover {
  background-color: #ffa500;
  box-shadow: 0 5px 15px #ffa500;
}

.navBackground {
  z-index: 6;
  position: absolute;
  background-color: black;
}


/* -------- Footer ------- */

#footer {
    font-weight: 700;
    background-color: black;
    color:  #40E0D0;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    background-size: contain;
    position: relative;
  }
  
  .footer-nav {
      list-style: none;
      display: flex;
      float: right;
  }
  
  a:link,
  a:visited {
      color: whitesmoke;
      text-decoration: none;
      transition: border-bottom 0.2s, color 0.2s;
      transition: border-bottom 0.2s, color 0.2s;
  }
  
  a:hover,
  a:active {
      color: #217799;
  }
  
  .footer-nav li {
    margin-right: 40px;
  }

.leftFooter {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 1%;   
}

.copyrightText {
    font-size: 0.8rem;
    padding-top: 30px;
    text-align: center;
}

.contactInfo {
    font-size: 0.8rem;
    color: whitesmoke;
  }

  /* -------- Services Home ------- */

  .servicesArea {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    margin-bottom: 7%;
  }
  .icons {
    height: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }

  .servicesContent {
    align-self: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
  }
  .servicesInfo {
    font-size: 0.6rem;
    text-align: center;
    margin-top: 3%;
  }

  .learnMore {
    font-size: 0.6rem;
    text-align: center;
    cursor: pointer;
    margin-top: 3%;
  }
  
  /* -------- Team Home ------- */

  .greyBackground {
  background-color: #EAECF1;
  padding-bottom: 1%;
}

    .teamArea {
      display: flex;
      flex-wrap: wrap;
      margin-left: 5%;
      margin-right: 5%;
      justify-content: center;
      margin-bottom: 3%;
    }    

    .teamContent {
      align-self: center;
      margin-top: 5%;
      max-width: 30%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .teamPic {
      height: 20vh;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3%;
      border-radius: 50%;
    }

    .teamInfo {
      font-size: 0.8rem;
      text-align: center;
      max-width: 100%;
      margin-top: 3%;
      margin-bottom: 3%;
      padding-bottom: 2%;
    }

    .teamTitle {
      font-size: 1.5rem;
      text-align: center;
    }

    .teamIcons {
      text-align: center;
      margin-top: 2%;
    }

    .facebookIcon {
      margin-left: 2%;
      margin-right: 2%;
      cursor: pointer;
      transition: color 0.2s;
    }

    .facebookIcon:hover {
      color: #3b5998;
      transition: color 0.2s;
    }    

    .instaIcon {
      margin-left: 2%;
      margin-right: 2%;
      cursor: pointer;
      transition: color 0.2s;
    }

    .instaIcon:hover {
      color: #fe4164;
      transition: color 0.2s;
    }   

    .linkedIcon {
      margin-left: 2%;
      margin-right: 2%;
      cursor: pointer;
      transition: color 0.2s;
    } 
    
    .linkedIcon:hover {
      color: #0072b1;
      transition: color 0.2s;
    }
    
/* ------- Customers Home ------- */

.homeArea {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  padding-bottom: 3%;
}

.customerLogo {
  height: 20vh;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  cursor: pointer;
}

/* --- About Us --- */

#aboutUs {
  margin: -60px 30px 0px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: whitesmoke;
  height: 100%;
  z-index: 3;
}

#aboutArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.aboutUsBold {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 2% 0;
}

.aboutUsLogo {
  max-height: 30vh;
  width: auto;
 }

 .aboutUsInfo {
   display: flex;
   flex-direction: column;
   max-width: 50%;
 }

 .logoFlex {
   display: flex;
 }